@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

._30Ipg {
  background: rgb(255, 255, 255) !important;

  border-radius: 10px !important;

  height: 100% !important;
  width: 274px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aliceblue;
  z-index: 99;
}

.slick-arrow {
  display: none !important;
}

.yellow-gr {
  background: linear-gradient(139.27deg, #feda00 0%, #ff9900 93.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll-to-top {
  background-color: transparent !important;
}
